.abc{
    background-color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.xyz{
    background-color:blue;
}
.rajni{
    background-color: aqua;
}

#rajnikanth{
    background-color: red;
}